#container{width:99%; border:1px solid black}
header{background:red; height:10%; text-align: center; line-height: 50px; border-bottom: 3px black dashed}
nav{margin:10px;border-bottom:3px black dashed}
.clearfix{clear: both}
#content{float: left;width: 70%;background: green;min-height:500px;color:gold}
aside{float: left;width: 30%;background: orange;min-height:500px;}
footer{background:black;color:white;height: 20px;}